.jumbotron{
    background-color: aquamarine;
    margin-top: 50px;
}
.card-hotel{
    flex:1 200px ;
    /* padding: 2px 0px 2px 0px;
    margin: 10px 20px 10px 20px; */

}
footer{
    padding: 10px 10px 10px 10px;
    background-color: aquamarine; 
    margin-bottom:  0px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.btn-contact{
    padding: 0px 0px 5px 5px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}