@yellow: #efeeb8;
@green:#009900;
@red:#ff1f3d;

.margenes (@top, @bottom) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.margenAndPadding (@top, @bottom, @paddingAll) {
  margin-top: @top;
  margin-bottom: @bottom;
  padding: @paddingAll @paddingAll @paddingAll @paddingAll;
}

.jumbotron {
    background-color:@green ;
  .margenes(50px, 0px);
  }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px,0px);
    background-color: @yellow;
    }
  
  footer {
    .margenAndPadding(10px, 0px, 10px);
    background-color: @red; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .btn-contact {
    padding: 0px 0px 5px 5px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  