$yellow: #efeeb8;
$red: #ff1f3d;
$green: #009900;


@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

@mixin margenAndPadding ($top, $bottom, $paddingAll) {
    margin-top: $top;
    margin-bottom: $bottom;
    padding: $paddingAll $paddingAll $paddingAll $paddingAll;
}

.jumbotron{
    background-color: $green;
    @include margenes(50px, 0)
}
.card-hotel{
    flex:1 200px ;
    @include    margenes(10px,0px );
    background-color: $yellow;
    /* padding: 2px 0px 2px 0px;
    margin: 10px 20px 10px 20px; */

}
footer{
    @include margenAndPadding(10px,0px,10px );
    background-color: $red; 
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.btn-contact{
    padding: 0px 0px 5px 5px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}