.jumbotron {
  background-color: #009900;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #efeeb8;
}
footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 10px 10px 10px;
  background-color: #ff1f3d;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.btn-contact {
  padding: 0px 0px 5px 5px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
